# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Next.js build output for functions
.next/  # ADD THIS LINE IF IT'S NOT THERE

*.local